.chatOptionsContainer {
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.togglesContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  width: 100%;
  gap: 20px; 
}

.toggleGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.writerContainer {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-right: 20px;
  margin-top: 10px;
}

.textArea {
  flex: 1;
}